{% extends "base.html" %} {% block content %}

<div class="signupContainer">
  <div class="signupWapper">
    <h1 class="signupText">Register</h1>
    <br />
    <form method="POST" action="/register" class="boxxs">
      <label for="username">Username:</label>
      <input
        class="signupUsername"
        type="text"
        id="username"
        name="username"
        placeholder="UserName"
        required
      /><br />
      <br />
      <label for="email">Email:</label>
      <input
        class="signupemail"
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        required
      />
      <br />
      <br />
      <label for="password">Password:</label>
      <input
        class="signupPassword"
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        minlength="8"
        required
      /><br />
      <br />
      <p>Already have an account? <a href="/login">Login</a>.</p>
      <button class="signupBtn" type="submit">Signup</button>
      <br /><br />
    </form>
    {% if error %}
    <p style="color: red">{{ error }}</p>
    <br /><br />
    {% endif %}
  </div>
</div>

{% endblock %}
